<div class="position-absolute top-50 start-50 translate-middle">
  <div class="p-5 container">
    <h1 class="py-3 display-1 text-primary text-center">Oops!</h1>
    <h3 class="py-3 text-center">Nothing here...</h3>
    <div class="d-flex align-items-center justify-content-center">
      <form class="py-3" action="/" method="get">
        <button type="submit" class="btn btn-primary">Return home</button>
      </form>
    </div>
  </div>
</div>